
{% extends "base.html" %}

{% block content %}
<div id="home-intro" class="parallax-body">
<br>
<br>
<div id="intro-content" class="parallax-content">
<img class="parallax-left half-height" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Music-GClef.svg">
<div class="parallax-right">
<p>Test<br></p>
<p>Learning music has never been easier. With Pitch Perfect, you can now not only utilize tablature to learn but also are guided step by step through the process in real time.</p>
</div>
</div>
<div class="parallax-separator solid-white"><br>boop<br></div>
<img class="parallax-right half-height" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Music-GClef.svg">
<div class="parallax-left">
<p>Test<br></p>
<p>lel</p>
</div>
<br><br>
</div>
<div id="home-sheet" class="parallax-body">
<div id="sheet-content" class="parallax-content">
<img class="parallax-right half-height" src="http://images.clipartpanda.com/music-notes-on-staff-clipart-nTBG8dyEc.gif">
<div class="parallax-left">
<p>Test<br></p>
<p>lel</p>
</div>
</div>
</div>
<br>
<br>
<br>
</div>
{% endblock %}
