
{% extends "base.html" %}

{% block content %}
<div id="home-intro" class="parallex-body">
<br>
<br>
<div id="intro-content" class="parallex-content">
<img class="paralllex-left half-height" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Music-GClef.svg">
<div class="parallex-right">
<p>Test<br></p>
<p>lel</p>
</div>
</div>
<div class="parallex-content solid-white"><br><br></div>
<img class="paralllex-right half-height" src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Music-GClef.svg">
<div class="parallex-left">
<p>Test<br></p>
<p>lel</p>
</div>
<br><br>
</div>
<div id="home-sheet" class="parallex-body">
<div id="sheet-content" class="parallex-content">
<img class="paralllex-right half-height" src="http://images.clipartpanda.com/music-notes-on-staff-clipart-nTBG8dyEc.gif">
<div class="parallex-left">
<p>Test<br></p>
<p>lel</p>
</div>
</div>
</div>
<br>
<br>
<br>
</div>
{% endblock %}
