
{% extends "base.html" %}

{{ request.host }}

{% block content %}
<form id="login-form" method="post">
<div id="openid-entry">
<h3>Select a login provider:</h3>
    <input id="google-openid" class="sign-in-input" type="radio" name="service" value="google" required />
    <label class="sign-in-label" for="google-openid">
    <div class="sign-in-option">
        <img class="service-image" src="/static/images/g-logo.png">
        <span class="service-name">Google</span>
    </div>
    </label>
    <input id="ubuntu-openid" class="sign-in-input" type="radio" name="service" value="ubuntu" required />
    <label class="sign-in-label" for="ubuntu-openid">
    <div class="sign-in-option">
        <img class="service-image" src="/static/images/ubuntu-logo32.png">
        <span class="service-name">Ubuntu One</span>
    </div>
    </label>
    <input id="other-openid" class="sign-in-input" type="radio" name="service" value="other" required />
    <label class="sign-in-label" for="other-openid">
    <div class="sign-in-option">
        <img class="service-image" src="/static/images/openid-icon-250x250.png">
        <span class="service-name">Other</span>
    </div>
    </label>
    <br>
<br>
    <div id="other-authentication">
        <div class="input-area auth-info"><label for="openid-server">OpenID Server: </label><input id="server-entry" class="openid-other" name="openid-server" type="url" /></div>
        <div class="input-area auth-info"><label for="openid-key">OpenID Key: </label><input id="key-entry" class="openid-other" name="openid-key" type="text" /></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        //$(".sign-in-input").hide();
        $("#other-authentication .auth-info").addClass("hidden-info");
        $(".sign-in-input").addClass("hidden-info");
        $(".sign-in-input").change(function(){
            var selection=$("[for="+$(this).attr("id")+"]");
            var openid_other=$(".openid-other");
            var openid_required=$("#other-authentication .auth-info");
            $(".sign-in-option").removeClass("selected");
            /*confirm("D")*/
            if($(this).prop("checked"))//[=], #+vc=c={            }
                selection.children(".sign-in-option").addClass("selected");
            if(selection.attr("for")=="other-openid"){
                openid_required.removeClass("hidden-info");
                openid_other.attr("required", true);
            }
            else{
                openid_required.addClass("hidden-info");
                openid_other.removeAttr("required");
            }

        })
    })
</script>
<br>
<br><hr>
<div id="custom-provider-entry">
    Email address: <input id="email-entry" class="auth-info" name="email-address" type="email" />
    <br>Note: If this is your first time logging in, you will be asked to confirm your email address and complete a CAPCHA.
</div>
<div class="input-area"><input id="remember-me" type="checkbox" name="remember-me-remember-me-for-centuries" /> <label for="remember-me">Remember This Account (Not recommended for publicly accessible machines or sessions).</label></div>
<input type="submit" />
</form>
{% endblock %}
