@font-family{
    font-family:AlexBrushRegular;
    src:url("/static/fonts/AlexBrush-Regular-OTF.otf") format("opentype");
}

.search-entry{
    border-radius:15px;
    width:120px;
    
}

#search-container{
    padding:0;
    padding-left:0;
    padding-right:1px;
    margin:0;
}

label .sign-in-option{
    display:inline-block;
    opacity:.75;
    border-radius:5px;
    border:2px solid rgba(0, 0, 0, .9);
    text-align:center;
    width:150px;
    height:150px;
}
label .sign-in-option:hover, label .selected{
    transition:.5s;
    background:rgba(175, 175, 175, .9);
}

label .sign-in-option .service-image{
    /*margin-top:-25px;
    margin-left:-25px;*/
    width:100px;
    height:100px;
    display:block;
    margin:auto auto;
    transition:1s;
}

label .auth-info{
    float:left;
    word-wrap: break-word;
    width:100px;
}

#other-authentication .input-area{
    margin-bottom:10px;
}

#other-authentication .input-area input{
    width:300px;
    float:right;
}

.hidden-info, .hidden-input{
    display:none
}

#openid-entry{
    min-width:100px !important;
    display:inline-block;
}

.auth-info .openid-other{
    min-width:50px;
}

#sheet-area{
    background:rgba(30, 40, 50, .6);
}

#top-menu{
    width:100%;
    height:50px;
    position:absolute;
    background:rgba(255, 255, 255, .8);
    top:0;
    left:0;
    border-bottom:rgb(0, 0, 0) 1px solid;
    overflow:hidden;
}

#content-area{
    max-width:1400px;
    margin:0 auto;
}

#title{
    font-family:AlexBrushRegular, Brush Script;
    font-size:60px;
    text-align:center;
}

#login-form{
    max-width:100%;
    min-width:0;
}

#menu-links{
    float:right;
    margin:0;
    margin-top:-5px;
    padding:2px;
    overflow:hidden;
}

#menu-links ul li{
    list-style-type:none;
    display:inline;
    float:left;
    min-width:50px;
    text-align:center;
    padding-left:25px;
    padding-right:25px;
    padding-top:4px;
    padding-bottom:2px;
    border-right:0 rgba(15, 15, 15, .8) solid;
}

#menu-links ul li form{
    width:100px;
    padding:0;
    margin:0;
}

#menu-links ul li:hover{
    background:rgba(200, 200, 200, .8);
}

#menu-links ul li a, #search-button{
    display:inline-block;
    border:none;
    background:none !important;
    text-decoration:none;
}

#menu-search{
    width:75px;
    margin:0;
    text-shadow:none;
    border:none;
    padding:none;
}

footer{
    background:rgb(80, 149, 207);
    background:rgba(80, 149, 207, .8);
    background:rgba(80, 149, 207, .8);
    border-top:1px rgba(0, 0, 0, .8) solid;
    width:100%;
    min-height:500px;
}

.center-container{
    margin:15px;
    /*padding:15px;*/
    float:left;
    text-align:center;
    /*border-right:1px rgba(0, 0, 0, .8) solid;*/
}

@media screen and (max-width:500px), screen and (orientation:portrait){
    label .sign-in-option{
        display:block;
        width:100%;
        height:50px;
    }
    label .sign-in-option .service-image{
        transition:1s;
        float:left;
        width:50px;
        height:50px;
    }
    label .sign-in-option .service-name{
        float:left;
        font-size:20px;
    }
    #other-authentication .input-area .openid-other{
        float:none;
        width:300px;
    }
    #sheet-area{
        display:block;
        width:100%;
    }
    .search-entry{
        display:none;
    }
    .search-container{
        display:inline;
    }
    #menu-links{
        margin:0 auto;
        text-align:center;
    }
    .sign-in-label{
        width:100%;
    }
}


